<div class="list-info row mx-auto" style="width:70%; text-align:center;">
  <section class="left col-5">
    <div class="container-list row">
      <h3 class="title-list col-9">List</h3>
      <form action="/todos?_method=DELETE" method="POST" class="col-3">
        <button type="submit" class="trashBtn">
          <i type="submit" class="far fa-trash-alt col-10"></i>
        </button>
      </form>
    </div>

    <div id="my-todo">
      <!-- 			add items here -->
      {{#each lists}}
      {{#unless this.isFinished}}
      {{#unless this.isTrashed}}
      <div class="infor_container">
        <label for="todo " class="item col-6" style="display:flex;">
          <form action="/todos/{{this.id}}/finish" method="POST" style="margin-right: 10px;">
            <button type="submit" class="trashBtn">
              <i class="far fa-square" style="color: gray;"></i>
            </button>
          </form>
          {{this.name}}
        </label>
        <div class="createdTime mr-3">{{this.time}}</div>
        <form action="/todos/{{this.id}}/trash" method="POST" class="col-1">
          <button type="submit" class="trashBtn">
            <i class="fas fa-minus-circle circle-delete"></i>
          </button>
        </form>
      </div>
      {{/unless}}
      {{/unless}}
      {{/each }}
    </div>

  </section>
  <section class="right col-5">
    <section>
      <div class="container-finish row">
        <h3 class="title-finish col-2">Finish</h3>
        <form action="/todos?_method=DELETE" method="POST" class="col-3">
          <button type="submit" class="trashBtn">
            <i type="submit" class="far fa-trash-alt col-10"></i>
          </button>
        </form>
      </div>
      <div id="finish">
        {{#each lists}}
        {{#if this.isFinished}}
        <div class="infor_container">
          <label for="todo " class="item col-6" style="display:flex;">
            <form action="/todos/{{this.id}}/finish" method="POST" style="margin-right: 10px;">
              <button type="submit" class="trashBtn">
                <i class="fas fa-check"></i>
              </button>
            </form>
            {{this.name}}
          </label>
          <div class="createdTime mr-3">{{this.time}}</div>
          <form action="/todos/{{this.id}}/trash" method="POST" class="col-1">
            <button type="submit" class="trashBtn">
              {{!-- <input type="hidden"> --}}
              <i class="fas fa-minus-circle circle-delete"><input type="hidden" name="isTrash" value="true"></i>
            </button>
          </form>
        </div>
        {{/if}}
        {{/each }}
      </div>
    </section>

    <section>
      <div class="container-trash row">
        <h3 class="title-finish col-9">Trash<span style="font-size:13px; color: gray;"> (想恢復請先取消勾勾)</span></h3>
        <form action="/todos?_method=DELETE" method="POST" class="col-3">
          <button type="submit" class="trashBtn">
            <i type="submit" class="far fa-trash-alt col-10"></i>
          </button>
        </form>
      </div>
      <div id="trash">
        {{#each lists}}
        {{#if this.isTrashed}}
        <div class="infor_container">
          <label for="todo " class="item col-6" style="display:flex;">
            <form action="/todos/{{this.id}}/finish" method="POST" style="margin-right: 10px;">
              <button type="submit" class="trashBtn">
                <input class="form-check-input" type="checkbox" value="" onclick="if (this.checked)return this.value">
              </button>
            </form>
            {{this.name}}
          </label>
          <div class="createdTime mr-3">{{this.time}}</div>
          <form action="/todos/{{this.id}}/reback" method="POST" class="col-1">
            <button type="submit" class="trashBtn">
              {{!-- <input type="hidden"> --}}
              <i class="fas fas fa-undo return">
                <input type="hidden" name="isTrash" id="isTrash" value="false">
              </i>
            </button>
          </form>
        </div>
        {{/if}}
        {{/each }}
      </div>
    </section>
  </section>
</div>